body{
	background: #f7f7f7;
}

.list-wrap{
	overflow: hidden;
	
	margin: 45px auto 49px;
}

.commondity-list {
	
	display: flex;
	
	flex-direction: column;
}

.commondity-list li{
	display: flex;
	padding: 10px;
}

.commondity-list li .left-picture{
	
}

.commondity-list li .left-picture img{
	max-width: 100px;
}



.commondity-list .right-info{
	padding: 5px;
	
	/*项目属性*/
	flex-grow: 1;
	
	/*容器属性*/
	display: flex;
	flex-direction: column;
}

.commondity-list .commodity-title{
	font-size: 14px;
	color: black;
}

.commondity-list .market-price{
	font-size: 12px;
	text-decoration: line-through;
}

.commondity-list .sc-price{
	font-size: 16px;
	color: #ff3838;
}


